<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>FALSEPREDICATE</string>
		</dict>
		<key>NSExtensionContextClass</key>
		<string>NSExtensionContext</string>
		<key>NSExtensionContextHostClass</key>
		<string>NSExtensionContext</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ar.viewer</string>
		<key>NSExtensionPrincipalClass</key>
		<string>LiveProcessHandler</string>
	</dict>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>SBAppUsesLocalNotifications</key>
	<integer>1</integer>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
		<key>_MultipleInstances</key>
		<true/>
		<key>_ProcessType</key>
		<string>App</string>
	</dict>
</dict>
</plist>
